:root {
    /* Colors */
    --color-accent: #10C9C3;
    --color-black: #000;
    --color-grey-1: #222;
    --color-grey-2: #444;
    --color-grey-3: #888;
    --color-grey-4: #ccc;
    --color-grey-5: #eee;
    --color-white: #fff;
    /* Font Sizes */
    --fz-xs: 12px;
    --fz-s: 14px;
    --fz-m: 16px;
    --fz-l: 24px;
    --fz-xl: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00aaaa;
}

::-webkit-scrollbar-thumb:active {
    background: #009999;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 94%;
    height: 100%;
    margin: auto;
    max-width: 1600px;
    padding-right: 12px;
}

.common_heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: var(--fz-xl);
    color: var(--color-grey-1);
}

.common_text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: var(--fz-xs);
    color: var(--color-grey-1);
}

.header {
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

.header_logo {
    height: 80%;
    aspect-ratio: 4 / 3;
    position: relative;
}

.header_logo>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.header_list {
    display: flex;
    list-style: none;
    gap: 2em;
}

.header_item {
    color: var(--color-grey-1);
}

.header_link {
    text-decoration: none;
    color: inherit;
}

.header_active {
    color: var(--color-accent) !important;
}
#burger_check {
    display: none;
}
.burger {
    display: none;
    aspect-ratio: 5 / 3;
    height: 30px;
    position: relative;
    z-index: 99999;
}
.burger > span {
    display: block;
    position: absolute;
    background: #000;
    height: 3px;
    width: 100%;
}
.burger > span:nth-child(1){
    top: 0;
}
.burger > span:nth-child(2){
    top: 50%;
    translate: 0 -50%;
}
.burger > span:nth-child(3){
    bottom: 0;
}
#burger_check:checked + .burger > span:nth-child(1) {
    top: 50%;
    translate: 0 -50%;
    rotate: 45deg;
}
#burger_check:checked + .burger > span:nth-child(2) {
   display: none;
}
#burger_check:checked + .burger > span:nth-child(3) {
   top: 50%;
   translate: 0 -50%;
   rotate: -45deg;
}
.hero {
    background: url("./img/main.jpg") no-repeat center center / cover;
    height: 100vh;
}

.hero_wrap {
    display: flex;
    justify-content: end;
    height: 100%;
}

.hero_content {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2em;
}

.hero_text {
    width: 70%;
}

.hero_button {
    background: var(--color-accent);
    border-radius: 4px;
    padding: 16px 48px;
    color: var(--color-white);
    border: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.about_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 100px 0;
}

.about_text {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    width: 70%;
    max-width: 500px;
}

.about_img {
    width: 40%;
    max-width: 200px;
    min-width: 150px;
}

.about_img>img {
    width: 100%;
}

.skills {
    background: var(--color-grey-5);
    background: url("./img/conv.jpg") no-repeat center center / cover;
}

.skills_wrap {
    display: grid;
    grid-template-columns: 1fr;
}

.skills_block {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 150px 0px;
}


.skills_group {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills_item {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.skills_item_heading {
    display: flex;
    gap: 1.5em;
}

.skills_item_heading>* {
    font-size: var(--fz-xs);
    color: var(--color-grey-1);
    font-weight: 500;
}

.skills_item_heading_text {
    text-transform: uppercase;
}


.skills_item_line {
    width: 90%;
    height: 3px;
    background: var(--color-grey-4);
    position: relative;
}

.skills_item_line_fill {
    position: absolute;
    height: 100%;
    background: var(--color-accent);

}

#skill_line_1 {
    width: 75%;
}

#skill_line_2 {
    width: 90%;
}

#skill_line_3 {
    width: 65%;
}

.stats {
    background: var(--color-accent);
    padding: 80px 0;

}

.stats_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stats_item {
    display: grid;
    grid-template-columns: 3em minmax(max-content, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "icon count"
        "icon text";
    color: var(--color-white);
    column-gap: 1em;


}

.stats_icon {
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
    font-size: 50px;
    line-height: 1;
    grid-area: icon;
}

.stats_count {
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    grid-area: count;

}

.stats_text {
    grid-area: text;
    align-self: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}

.gallery {
    background: var(--color-grey-5);
}

.gallery_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.gallery_item {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.gallery_item>img {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    height: 100%;
}

.gallery_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--color-black);
    color: var(--color-white);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.gallery_item:hover .gallery_hover {
    opacity: 0.8;
    transition: 0.3s;
}

.gallery_button {
    padding: 24px 0;
    font-size: var(--fz-xs);
    line-height: 1.5;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    color: var(--color-grey-3);
    text-align: center;
    cursor: pointer;
    background: var(--color-grey-4);
    text-transform: uppercase;
    transition: 0.3s;

}

.gallery_button:hover {
    background: var(--color-grey-3);
    color: var(--color-grey-4);
    transition: 0.3s;
}


.process_wrap {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 80%;
    margin: auto;
    text-align: center;
}

.process_text {
    max-width: 400px;
}

.process_video {
    width: 100%;
    max-width: 1000px;
    position: relative;
    box-shadow: 0 0 20px var(--color-grey-4);
}

.process_video>video {
    width: 100%;
}

.process_button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 55px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background: var(--color-accent);
    color: var(--color-white);
    font-size: var(--fz-l);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.process_button>i {
    translate: 3px 0;
}

.department {
    background: var(--color-grey-5);
    padding: 80px 0;

}

.department_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.department_item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
    justify-self: center;
}

.department_icon {
    font-size: 40px;
}

.department_heading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--fz-xs);
    color: var(--color-grey-1);
}

.department_text {
    font-weight: 400;
    font-size: var(--fz-m);
    font-family: "Nunito Sans", sans-serif;
    color: var(--color-grey-3);
}

.reviews {
    background: var(--color-accent);

}

.reviews_wrap {
    padding: 100px 0;
    color: var(--color-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews_block {
    text-align: center;
    max-width: 500px;
    width: 70%;
}

.reviews_text {
    font-size: var(--fz-m);
    color: var(--color-white);
}

.reviews_author {
    font-size: var(--fz-m);
    color: var(--color-white);
    padding: 1em 0;
}

.reviews_arrow {
    font-size: var(--fz-xl);
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.left_arrow {
    left: 0;
}

.right_arrow {
    right: 0;
}

.reviews_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    bottom: 2em;
}

.reviews_line {
    width: 30px;
    height: 3px;
    opacity: 0.5;
    background: var(--color-white);
}

.reviews_active {
    opacity: 1;
}

.sponsors_wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    padding: 70px 0;
}

.sponsors_logo {
    width: 120px;
    aspect-ratio: 4 / 3;
    position: relative;
}

.sponsors_logo>img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: center;
}

.contacts {
    background: var(--color-grey-5);
}

.contacts_wrap {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    justify-content: center;
    gap: 2em;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 600px;

}


.contacts_text {
    text-align: center;
    width: 80%;
}

.contacts_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas:
        "name email"
        "title title"
        "comment comment"
        "button button";
    gap: 1em;
    width: 100%;
}

.input {
    outline-color: var(--color-accent);
    font-size: var(--fz-m);
    padding: 0.5em 1em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid var(--color-grey-4);
}

.contacts_input_name {
    grid-area: name;
}

.contacts_input_email {
    grid-area: email;
}

.contacts_input_title {
    grid-area: title;
}

.contacts_input_comment {
    grid-area: comment;
    resize: none;
}

.contacts_button {
    grid-area: button;
    background: var(--color-accent);
    justify-self: center;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    color: var(--color-white);
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 24px;
    cursor: pointer;
}

.footer {
    background: var(--color-black);
    color: var(--color-white);
}

.footer_wrap {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    gap: 3em;
}

.footer_info {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.footer_heading {
    color: var(--color-white);
    font-size: var(--fz-l);
}

.footer_text {
    color: var(--color-white);
    font-size: var(--fz-m);
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}

.footer_contact {
    color: var(--color-white);
    font-size: var(--fz-m);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-style: normal;
}

.footer_social {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;

}

.footer_item {
    font-size: var(--fz-m);
    color: var(--color-accent);
    justify-self: center;
}

.footer_link {
    text-decoration: none;
    color: inherit;
}



@media screen and (min-width: 577px) and (max-width: 1024px) {
    .hero_wrap {
        justify-content: center;
    }

    .skills_wrap {
        width: 90%;
        margin: auto;
    }

    .stats_wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .stats_item {
        grid-template-columns: 1fr 2fr;
    }

    .stats_icon {
        justify-self: end;
    }

    .department_wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts_form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
        grid-template-areas:
            "name"
            "email"
            "title"
            "comment"
            "button";
    }

    .contacts_button {
        justify-self: stretch;
    }

    .footer_wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_social {
        grid-area: 1 / 2 / 3 / -1;
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    
    .burger {
        display: block;
    }
    .header_nav {
        display: none;
       
    }
    .header_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .header_item {
        color: var(--color-white);
    }
    #burger_check:checked + .burger + .header_nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        background: #000c;

    }
    .hero_wrap {
        justify-content: center;
    }

    .skills_wrap {
        width: 90%;
        margin: auto;
    }

    .stats_wrap {
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .stats_item {
        grid-template-columns: 1fr 2fr;
    }

    .stats_icon {
        justify-self: end;
    }

    .department_wrap {
        grid-template-columns: 1fr;
    }

    .contacts_form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
        grid-template-areas:
            "name"
            "email"
            "title"
            "comment"
            "button";
    }

    .contacts_button {
        justify-self: stretch;
    }

    .footer {
        text-align: center;
    }

    .footer_wrap {
        flex-direction: column;
    }
}

@media screen and (min-width: 1440px) {
    .footer_social {
        grid-template-columns: repeat(6, 1fr);
    }
}